@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
.contauiner {
  background-color: #e9e9e9;
}

.main-block {
  margin: auto;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
}

.main-block > div {
  flex: 1;
}

html {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

html h1 {
  padding: 0;
}

header {
  display: flex;
  flex-direction: column;
  background-color: #e9e9e9;
  height: 25vh;
  width: 100vw;
  justify-content: center;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.main {
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: space-between;
}

.main .logo {
  flex-basis: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main .menu {
  display: flex;
  justify-content: flex-end;
  flex-basis: 80%;
}

.main .menu ul {
  margin: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}

.main .menu ul li {
  text-transform: uppercase;
  font-size: 0.7em;
  font-weight: 700;
  margin-left: 15px;
  list-style-type: none;
}

.main .menu ul li a {
  text-decoration: none;
  color: black;
  transition: color 0.2s;
}

.main .menu ul li a:hover {
  color: #39b4af;
}

.main .menu ul li a:hover {
  color: #39b4af;
  padding-bottom: 15px;
}

.logo img {
  box-shadow: 0.2em 0.2em 1em 0.2em #39b4af;
  height: 20vh;
  cursor: pointer;
}

.info-block > h1 {
  display: flex;
  justify-content: center;
}

.about {
  margin: 5vh;
}

.info-block {
  display: flex;
  align-self: center;
}

.bar {
  position: relative;
}

.for-mobile {
  display: none;
}

#gamburger {
  display: none;
  width: 100%;
  margin: 0;
}

.wrapper-info {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.info-block {
  display: flex;
  flex-direction: column;
}

.text-about {
  width: 50vw;
  height: 45vh;
  box-shadow: 0.4em 0.4em 1em 0.4em #39b4af;
  margin-bottom: 5vh;
}

.text-about {
  overflow: auto;
  background: #a3b0b3;
  background: linear-gradient(141deg, #a3b0b3 33%, #39b4af 76%);
}

.about-myslef {
  padding: 10px;
}

.my__works {
  display: flex;
  flex-direction: column;
  background-color: #e9e9e9;
  width: 100vw;
  justify-content: center;
}

.mysites {
  margin: 0 auto;
  width: 100vw;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}

.site1 {
  background-image: url("/image/First.PNG");
  box-shadow: 0.2em 0.2em 1em 0.2em #39b4af;
  height: 20vh;
  cursor: pointer;
  width: 100px;
  height: 150px;
  background-size: cover;
}

.site2 {
  background-image: url("/image/First.PNG");
  box-shadow: 0.2em 0.2em 1em 0.2em #39b4af;
  height: 20vh;
  cursor: pointer;
  width: 100px;
  height: 150px;
  background-size: cover;
}

.site3 {
  background-image: url("/image/First.PNG");
  box-shadow: 0.2em 0.2em 1em 0.2em #39b4af;
  height: 20vh;
  cursor: pointer;
  width: 100px;
  height: 150px;
  background-size: cover;
}

.heading-2 {
  text-align: center;
  letter-spacing: .2px;
  padding-top: 10px;
  width: 100%;
}

.work {
  transition: all .3s;
}

.work:hover {
  transform: scale(1.2, 1.2);
}

@media (max-width: 470px) {
  .for-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 0;
    overflow: hidden;
    transition: all 1s;
  }
  .for-mobile.q {
    max-height: 200px;
  }
}

@media (max-width: 470px) {
  .bar ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
  }
  .bar ul li {
    text-transform: uppercase;
    font-size: 0.7em;
    font-weight: 700;
    margin-left: 15px;
    list-style-type: none;
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
    padding-bottom: 3vh;
  }
  .bar ul li > a {
    text-decoration: none;
    color: black;
  }
  .bar ul li > a:hover {
    color: #39b4af;
  }
}

@media (max-width: 470px) {
  .bar > #gamburger {
    display: block;
  }
  .main > .menu {
    display: none;
  }
  .main {
    justify-content: center;
  }
}
/*# sourceMappingURL=style.css.map */
